/** @format */

html {
  background-color: rgb(80, 19, 67);
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 350px;
  grid-template-areas:
    'header header'
    'filters filters'
    'main sidebar'
    'footer footer';
}

header {
  width: 98%;
  z-index: 1000;
  position: fixed;
  display: grid;
  grid-area: header;
  grid-gap: 10px;
  grid-template-columns: auto 400px;
  grid-template-areas: 'title nav';
  background-color: rgb(37, 16, 51, 0.9);
  margin-top: -10px;
  margin-left: -10px;

  border: 16px ridge rgba(170, 50, 220, 0.3);
  border-radius: 5px;
}

aside {
  margin-top: 160px;
}

main {
  margin-top: 130px;
  display: grid;
}

/* Links */
a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: lightgray;
  text-decoration: none;
}

/* Buttons and inputs */
button {
  grid-area: button;
  width: 100px;
  height: 40px;
  font-size: large;
  background-color:rgb(129, 2, 112);
  color: orange;
}

input {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  background-color: black;
  color: orange;
}

select {
  grid-area: select;
  height: 30px;
  margin-bottom: 5px;
  background-color: black;
  color: orange;
  max-width: 240px;
}

select[name='category'] {
  grid-area: category;
  height: 40px;
  width: 120px;
}
select[name='age'] {
  height: 40px;
  width: 180px;
}

/* Title */

.header-title {
  grid-area: title;
  vertical-align: middle;
  font-family: 'Bangers', cursive;
  font-size: 36px;
  color: rgb(138, 4, 109);
  letter-spacing: 3.2px;
  margin-left: 140px;
}

.title-motto {
  font-size: 26px;
  letter-spacing: 1.5px;
}

/* Logo */

.logo {
  position: absolute;
  width: 15%;

  margin-top: -60px;
  margin-left: -160px;
  /* margin-bottom: 200%; */
  opacity: 68%;
}

/* Logo animation */
.logo-index {
  animation: fadein 1.32s, slidein 1.02s;
}

@keyframes fadein {
  from {
    opacity: 100%;
  }
  to {
    opacity: 68%;
  }
}

@keyframes slidein {
  from {
    margin-right: 500%;
    width: 300%;
  }

  to {
    margin-right: 100%;
    width: 15%;
  }
}

/* Navigation */

.navigation {
  grid-area: nav;
  min-width: 400px;
  padding: 20px;
  margin-left: -5px;
  margin-right: 5px;
  margin-top: 15px;
}

.navigation a {
  /* background-color: rgb(58, 71, 58); */
  background-color: rgba(242, 148, 24, 08);
  border: 6px solid rgb(64, 9, 88);
  border-radius: 25px;
  color: rgb(58, 8, 8);
  font-size: 17px;
  font-family: 'Bangers', cursive;
  letter-spacing: 0.6px;
  margin-right: 15px;
}

.navigation a:hover {
  background-image: url('./img/icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  color: white;
}

/* Main Page: Carousel */

#carousel-container {
  height: 480px;
  max-width: 600px;
  margin-left: 30px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  --slide-count: 2;
}

#carousel {
  width: calc(100% * var(--slide-count));
  display: flex;
}

.slide > img {
  width: 560px;
  height: 300px;
  object-fit: cover;
  margin-left: 20px;
}

#love {
  margin-left: 3px;
}

.back {
  width: 10px;
  height: 20px;
  margin-top: 180px;
  margin-left: 10px;
}
.forward {
  width: 10px;
  height: 20px;
  margin-top: 180px;
  margin-left: 5px;
}

li {
  list-style:none;
}

.slide {
  scroll-snap-align: start;
}

.event-carousel-item {
  grid-area: carousel;
  width: 500px;
  padding: 10px;
  margin-left: 20px;
}

.event-carousel-item-image {
  width: 100%;
}

.event-name {
  margin-left: 150px;
  margin-top: 5px;
  color: rgb(242, 148, 24);
}

.event-description {
  margin-left: 30px;
  font-style: italic;
  color:rgb(194, 108, 175)
}

.event-dates {
  margin-left: 30px;
  font-weight: 700;
  color: orange;
}

/* Main page: Tickets */

.tickets {
  grid-area: tickets;
  padding: 5px;
  color: orange;
  background-color: rgb(73, 10, 92);
  border: 3px solid rgb(255, 102, 0);
  border-radius: 2px;
  width: 320px;
}

.tickets:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.tickets-title {
  padding-left: 20px;
  color: rgb(179, 2, 155);
}

.tickets-title-small {
  padding-left: 20px;
  color: rgb(255, 102, 0);
}

.tickets-inputs {
  margin: 20px;
}

.tickets ul {
  list-style-type: none;
  padding-left: 20px;
}

.tickets li {
  padding-bottom: 10px;
  color: rgb(255, 102, 0)
}

#quantity {
  margin: 0px 0px 5px 2px;
}

input[name='quantity'] {
  margin-bottom: 10px;
}

/* Things to do: Sidebar */

.sidebar {
  grid-area: sidebar;
  margin-left: 20px;
  margin-top: 15px;
  border: 3px double rgb(129, 52, 129);
  border-radius: 2px;
  width: 300px;
  height: 375px;
}

.sidebar-item {
  padding: 5px;
  background-color:rgb(129, 2, 112);
}
.sidebar-item:hover {
  background-image: url('./img/icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}

.sidebar-title {
  padding-left: 20px;
  color: orange;
}

.sidebar-text {
  padding-left: 20px;
  color: orangered;
}

.sidebar-important {
  padding-left: 20px;
  color: orange;
  font-weight: bold;
}

/* Things to do: Filters */

.filters {
  display: grid;
  grid-area: filters;
  margin-left: 15px;
  margin-top: 120px;
  padding: 5px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 60px 180px 120px auto;
  grid-template-areas: 'filters-title select category button';
}

.filters-title {
  grid-area: filters-title;
  margin-top: 5px;
}

/* Things To Do: Tiles */

.places {
  grid-area: main;
  margin-left: 15px;
  margin-top: 10px;
  padding: 5px;
  color: rgb(78, 10, 10);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
}

.places-item {
  max-width: 500px;
  padding: 20px;
  margin-bottom: 10px;
  border: 10px double rgb(63, 26, 88);
  border-radius: 2px;
  background-color: rgb(250, 150, 35);
}

.places-item:hover {
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

.places-title {
  margin-top: 10px;
  font-size: 25px;
  font-family: 'Bangers', cursive;
  letter-spacing: 3.2px;
  font-weight: bold;
}

.places-description {
  margin-top: 10px;
  font-weight: normal;
}

.places-info {
  padding: 1px;
  margin: 1px;
  font-size: small;
}

.places-item-image {
  width: 100%;
  height: 200px;
  border: 2px solid black;
}

/* Plan ahead: Map */

.map-title {
  color: orange;
  margin-left: 230px;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.map-image {
  margin-left: 25px;
  padding: 5px;
  color: black;
  width: 80%;
  height: 400px;
  border: 5px solid rgb(138, 4, 109);
  background-color: black;
}

.map-image:hover {
  background-color: orange;
  -webkit-animation: bounce 0.5s ease;
  animation: bounce 0.5s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Plan ahead: Parking */

.parking {
  margin-top: 25px;
  margin-left: 25px;
  max-width: 680px;
  color:rgb(252, 180, 98)
}

.parking img:hover {
  -webkit-animation: bounce 0.5s ease;
  animation: bounce 0.5s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-7px); }
  60%  { transform: translateY(7px); }
  100% { transform: translateY(0); }
}

.parking img {
  width: 100%;
  border: 5px solid rgb(138, 4, 109)
}

.parking h2 {
  color: orange;
  text-decoration: underline;
  margin-left: 190px;
}

.parking h3 {
  color: #b46fae;
}

.info-important {
  font-weight: bolder;
  color: rgb(194, 108, 175);
}

/* Plan ahead: Calendar */

.calendar {
  display: grid;
  padding: 15px;
  margin-top: 160px;
  margin-right: 30px;
  width: 300px;
  background-color:rgb(129, 2, 112);
  border: 5px solid rgb(73, 10, 92);
  border-radius: 2px;
}

.calendar-item {
  padding: 5px;
  margin: 5px;
  background-color: rgb(242, 148, 24);
  border-radius: 2px;
}

.calendar-item:hover {
  background-image: url('./img/icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}

.calendar-title {
  padding-left: 20px;
  margin-top: 10px;
  color: darkred;
}

.calendar-text {
  padding-left: 20px;
  color: black;
}

.calendar-important {
  padding-left: 20px;
  margin-top: 10px;
  color: rgb(242, 148, 24);
  font-weight: bold;
}

.calendar ul {
  list-style-type: none;
  padding-left: 20px;
}

.calendar li {
  padding-bottom: 10px;
}

.contacts {
  padding: 5px 20px 20px 20px;
  margin: 20px 5px;
  color: orange;
  border-radius: 5px;
  background-color: rgb(64, 9, 88);
}

.contacts-title {
  color: rgb(194, 108, 175);
  font-weight: 800;
}

/* Footer */

footer {
  grid-area: footer;
  padding: 20px;
  margin-left: 30px;
  color: orange;
}

footer a {
  color: orange;
  margin-left: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

/* Swing animation */

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}